<a href="https://colab.research.google.com/github/sowang2022/sowang2022/blob/main/Lesson_4ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
aList = [ 0,1,2,3,4,5 ]

strList = [ 'hi','my','name','is','Sophia' ]

%whos

Variable   Type    Data/Info
----------------------------
aList      list    n=6
strList    list    n=5

In [6]:
mixList = ['hello','7',7,7.0]
%whos

Variable   Type    Data/Info
----------------------------
aList      list    n=6
mixList    list    n=4
strList    list    n=5

In [9]:
listList = [3,            # number
            [3,'four',4], # list
            'five',       # string
            98724]        # number

listList

[3, [3, 'four', 4], 'five', 98724]

In [13]:
aList = [0,1,2,3,4,5]

4 not in aList

False

In [14]:
%whos

Variable   Type    Data/Info
----------------------------
aList      list    n=6
listList   list    n=4
mixList    list    n=4
strList    list    n=5

In [18]:
print(aList)
print(strList)

aList + strList

aList*3

[0, 1, 2, 3, 4, 5]
['hi', 'my', 'name', 'is', 'Sophia']

[0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5]

In [23]:
# method
print(aList)

aList.append(2.50)
print(aList)

# sort
aList.sort()
print(aList)

[-100, -100, 0, 1, 2, 2.5, 3, 4, 5]
[-100, -100, 0, 1, 2, 2.5, 3, 4, 5, 2.5]
[-100, -100, 0, 1, 2, 2.5, 2.5, 3, 4, 5]

In [30]:
# Exercise
# Make a bunch of 7's in a list
# Find how many 7's in the list
exList = [7,7,7,7,777,88,8,2,4,7,7,7,7,7,5,3,4,5,6,7,9,0.5,56,7]

exList.count(7)

11